main {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  position: relative;
  border: 1px solid black;
  overflow: hidden;

  width: 90vw;
  max-width: 800px;
  
  height: 90vh;
  max-height: 800px;
}